<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <h1>Successfully Logged in!</h1>
    <p>Your Firstname: <%= fName %></p>
    <p>Your Lirstname: <%= lName %></p>
    <a href="/logout">Log out</a>
</body>
</html>